<h1><%=@pirate.name%> <%=@pirate.weight%> <%=@pirate.height %></h1>


<h2><%=@ship[0].name%> <%= @ship[0].type%> <%=@ship[0].booty%></h2>


<h2><%=@ship[1].name%> <%=@ship[1].type%> <%=@ship[1].booty%></h2>
